{{ define "og" }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta name="twitter:title" content="{{ .Title }}">

    <meta property="og:description" content="{{ .Summary }}" />
    <meta name="twitter:description" content="{{ .Summary }}">

    <meta property="og:type" content="article" />
    <meta property="og:locale" content="{{ .Lang }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ .Site.BaseURL }}">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">

  {{ range first 3 (.Resources.ByType "image") }}
    {{ $image := . }}
    {{ $image := $image.Resize "x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
    <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{ end }}
  {{ with resources.GetMatch .Site.Params.logo }}
    {{ $image := . }}
    {{ $image := $image.Fit "1024x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ define "main" }}
<section class="section bg-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="title text-center">
				  {{ with .Site.GetPage "section" "team" }}
					<h2>
					  {{ index (split .Params.single " ") 0 | safeHTML }}
					  <span class="color">{{ index (split .Params.single  " ") 1 | safeHTML }}</span>
					</h2>
					{{ end }}
					<div class="border-capro"></div>
				</div>
				<div class="content text-center">
					<figure>
						{{ if isset .Params "photo" }}
							{{ $image := resources.GetRemote .Params.photo }}
							{{ $image := $image.Fill "300x300" }}
							<img class="rounded-circle img-fluid lozad" data-src="{{ $image.RelPermalink }}">
						{{ else }}
							{{ range first 1 (.Resources.ByType "image") }}
								{{ $image :=  . }}
								{{ $image := $image.Fill "300x300" }}
								<img class="rounded-circle img-fluid lozad" data-src="{{ $image.RelPermalink }}">
							{{ end }}
						{{ end }}
						<figcaption>
							<h5 class="font-weight-bold">
								{{ .Title }}
							</h5>
						</figcaption>
					</figure>
					<hr>
					{{ .Content }}
					<hr>
					<ul class="list-inline">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a class="simple-icon" href="{{ .link | safeURL}}"><i
									class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{{ if gt (where site.RegularPages "Params.author" .Title | len ) 0  }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>{{ i18n "authorsPosts" }}<span class="color">
  				  {{ with .Site.GetPage "section" "team" }}
              {{ index (split .Params.single " ") 1 | safeHTML }}
            {{ end }}</h2>
					<div class="border-capro"></div>
				</div>
			</div>
			{{ range where site.RegularPages "Params.author" .Title }}
			{{ .Render "article" }}
			{{ end }}
		</div>
	</div>
</section>
{{ end }}

{{ $pub :=  path.Dir .File | path.Base }}
{{ $pubpath := printf "data/team/pubs/%s.json" $pub}}
{{ $pubs := index $.Site.Data.team.pubs (path.Dir .File | path.Base) }}
{{ if and (fileExists $pubpath) (gt ($pubs | len) 0)  }}
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="title text-center">
					<h2>{{ i18n "authorsPubs" }}<span class="color">
  				  {{ with .Site.GetPage "section" "team" }}
				     {{ index (split .Params.single " ") 1 | safeHTML }}
				  {{ end }}</h2>
					<div class="border-capro"></div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				<div class="btn-group portfolio-filter btn-group-toggle justify-content-center d-flex flex-wrap"
					data-toggle="buttons">
					<label class="btn active">
						<input type="radio" name="shuffle-filter" value="all" checked="checked" />{{ i18n "all"}}
					</label>
					{{ $years := slice }}
					{{ range $pubs }}
					  {{ with .year }}
					    {{ $years = $years | append . }}
            		{{ end }}
					{{ end }}
					{{ range ( $years | uniq ) }}
					<label class="btn">
						<input type="radio" name="shuffle-filter" value="{{ . | urlize }}" />{{ . }}
					</label>
					{{ end }}
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div id="pubs" class="col-lg-10 mx-auto">
			  <table id="pubs" class="table table-hover borderless">
			      <thead>
            <tr>
              <th width="10%" scope="col">Year</th>
              <th width="20%" scope="col">Authors</th>
              <th width="50%" scope="col">Title</th>
              <th scope="col">Journal</th>
            </tr>
          </thead>
			    <tbody class="shuffle-wrapper">
    			  {{ range $pubs }}
  			    <tr class="price-title shuffle-item"
				data-groups="[&quot;{{ .year | urlize}}&quot;]">
  			      <td width="10%" >{{.year}}</td>
  			      <td width="20%">{{ .author }}</td>
  			      <td width="50%"><a href={{ printf "https://scholar.google.no/citations?view_op=view_citation&citation_for_view=%s" .pubid }}>{{ .title }}</a></td>
  			      <td>{{ .journal }}</td>
  		      </tr>
    			  {{ end }}
		      </tbody>
			   </table>
  		  </div>
  		</div>
		</div>
	</div>
</section>
{{ end }}

{{ end }}

