{{ define "main" }}
<section class="section bg-one">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 mx-auto">
				<div class="title text-center">
				  {{ with .Site.GetPage "section" "team" }}
					<h2>
					  {{ index (split .Params.single " ") 0 | safeHTML }}
					  <span class="color">{{ index (split .Params.single  " ") 1 | safeHTML }}</span>
					</h2>
					{{ end }}
					<div class="border-capro"></div>
				</div>
				<div class="content text-center">
					<figure>
	           {{ range first 1 (.Resources.ByType "image") }}
              {{ $image :=  . }}
              {{ $image := $image.Fill "300x300" }}
						<img class="rounded-circle img-fluid lozad" data-src="{{ $image.RelPermalink }}">
						{{ end }}
						<figcaption>
							<h5 class="font-weight-bold">
								{{ .Title }}
							</h5>
						</figcaption>
					</figure>
					<hr>
					{{ .Content }}
					<hr>
					<ul class="list-inline">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a class="simple-icon" href="{{ .link | safeURL}}"><i
									class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>{{ i18n "authorsPosts" }}<span class="color">
  				  {{ with .Site.GetPage "section" "team" }}
              {{ index (split .Params.single " ") 1 | safeHTML }}
            {{ end }}</h2>
					<div class="border-capro"></div>
				</div>
			</div>
			{{ range where site.RegularPages "Params.author" .Title }}
			{{ .Render "article" }}
			{{ end }}
		</div>
	</div>
</section>
{{ end }}
