{{ with site.Params.contact  }}
<!-- Start Contact Us -->
<section id="contact" class="contact-us bg-one">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				<!-- section title -->
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-capro"></div>
				</div>
			</div>
			<!-- /section title -->

			<!-- Contact Details -->
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
				<p> {{ .content | markdownify }} </p>
			</div>

			<div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">

				<div class="contact-details">
					{{ range .item }}
					<div class="con-info clearfix">
						<i class="{{ .icon }}"></i>
						<span>{{ .info }}</span>
					</div>
					{{ end }}
				</div>
				  {{ partial "sections/map.html" . }}
			</div>
		</div>
	</div>
</section>
{{ end }}
