{{ with .Site.GetPage "section" "pricing" }}
{{ if and (.Params.item) (gt (.Params.item | len ) 0)}}

<!-- Start Pricing section -->
<section id="pricing" class="pricing section bg-one">
  <div class="container">
    <div class="row justify-content-center">

      <!-- section title -->
      <div class="col-lg-12">
        <div class="title text-center wow fadeInDown" data-wow-duration="500ms">
					<h2>{{ with .Title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
            {{ with .Title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
          <div class="border-capro"></div>
        </div>
      </div>
      <!-- /section title -->

      <div class="col-lg-12">
        <div class="text-center wow fadeInDown" data-wow-duration="500ms">
					<p>{{ .Content }}</p>
        </div>
      </div>
      {{ $data := newScratch }}
      {{ $data.Set "entities" .Params.entities }}
      {{ range .Params.item }}
      <!-- single pricing table -->
      <div class="col-lg-4 col-md-6 col-12 text-center wow fadeInUp" data-wow-duration="200ms">
        <div class="price-item p-2 row justify-content-center">

          <!-- plan name & value -->
          <div class="price-title col-auto">
            <h3 class="value">{{ .name }}</h3>
            <table id="price-table-{{.name | urlize }}">
              {{ $unit := .unit }}
              {{ range .price }}
                {{ $id := .id }}
                {{ $price := .price }}
                {{ if eq $id "base" }}
                  {{ range ($data.Get "entities")  }}
                    <tr class="py-5">
                     <td class="border-right pr-2 text-right">{{ .name }}</td>
                     <td class="pl-2 text-left"><strong>{{ mul .percent $price }}</strong> / {{$unit}}</td>
                    </tr>
                  {{ end }}
                {{ end }}
                {{ range ($data.Get "entities")  }}
                  {{ if eq .id $id }}
                    <tr class="py-5">
                     <td class="border-right pr-2 text-right">{{ .name }}</td>
                     <td class="pl-2 text-left"><strong>{{ $price }}</strong> / {{$unit}}</td>
                    </tr>
                  {{ end }}
                {{ end }}
              {{ end }}
            </table>
          </div>

          <!-- plan description -->
          <ul>
            {{ range .services }}
            <li>{{ . }}</li>
            {{ end }}
          </ul>

          <!-- signup button -->
          {{ with .button }}
            <a class="btn btn-transparent" href="{{ .link | safeURL }}">{{ .label }}</a>
          {{ end }}
        </div>
      </div>
      <!-- end single pricing table -->
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
