{{ with .Site.GetPage "section" "team" }}
{{ if gt (.Pages | len ) 0}}
<section id="team" class="section bg-dark">
  <div class="container">
    <div class="row content-justify-center">
      <div class="col-lg-12">
        <!-- section title -->
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
          <h2>{{ with .Title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
            {{ with .Title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
          <div class="border-capro"></div>
        </div>
      </div>
      <!-- /section title -->

      {{ range .Pages | shuffle }}
      {{ $sch := newScratch }}
      <!-- team member -->
      <div class="col-lg-3 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
        <div class="team-member">
          <div class="member-photo">
            <!-- member photo -->
            {{ if isset .Params "photo" }}
              {{ $image := resources.GetRemote .Params.photo }}
              {{ $image := $image.Fill "300x300" | images.Filter (images.Grayscale )}}
              {{ $sch.Set "img" $image.RelPermalink }}
            {{ else }}
              {{ range first 1 (.Resources.ByType "image") }}
                {{ $image :=  . }}
                {{ $image := $image.Resize "600x" }}
                {{ $image := $image.Fill "300x300" | images.Filter (images.Grayscale ) }}
                {{ $sch.Set "img" $image.RelPermalink }}
              {{ end }}
            {{ end }}
            <img class="img-fluid lozad" data-src="{{ $sch.Get "img" }}" alt="{{ .Title }}">

            <!-- member social profile -->
            <div class="mask">
              <ul class="list-inline">
                {{ range .Params.social }}
                  {{ if .link }}
                    <li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </div>

          <!-- member name & designation -->
          <div class="member-meta">
            <h4><a href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
            <span>{{ delimit .Params.designation  " / " | markdownify }}</span>
            <p>{{ .Summary }}</p>
          </div>
        </div>
      </div>
      <!-- end team member -->
      {{ end }}
    </div>
  </div>
</section>
<!-- /team -->
{{ end }}
{{ end }}
