{{ with .Site.GetPage "section" "testimonial" }}

{{ range first 1 (.Resources.ByType "image") }}
  {{ $image :=  . }}
<section id="testimonial" class="testimonial overly section bg-2"
	style='background-image: url("{{ $image.RelPermalink }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img src="{{ $image.RelPermalink }}" style="display: none;">
  {{ end }}
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<!-- testimonial wrapper -->
				<div id="testimonials" class="wow fadeInUp overly p-4" data-wow-duration="500ms" data-wow-delay="100ms">
					{{ range .Pages }}
		      {{ $sch := newScratch }}
{{ with .Params.link }}<a class="testimonial" href="{{.}}">{{end}}
					<!-- testimonial single -->
					<div class="item text-center">

						<!-- client photo -->
            {{ range first 1 (.Resources.ByType "image") }}
              {{ $image :=  . }}
              {{ $image := $image.Fill "300x300"  }}
              {{ $sch.Set "img" $image.RelPermalink }}
            {{ end }}

						<div class="client-thumb">
							<img class="img-fluid lozad" data-src="{{ $sch.Get "img"  }}" alt="{{ .Params.author }}">
							<small>{{ .Params.author }}</small>
						</div>

						<!-- client info -->
						<div class="client-info">
							<div class="client-meta">
								<h3>{{ .Title }}</h3>
								<span>{{ .Lastmod.Format "January 2, 2006" }}</span>
							</div>
							<div class="client-comment">
								<p>{{ .Content }}</p>
							</div>
						</div>
					</div>
				  {{ with .Params.link }}</a>{{end}}

					<!-- /testimonial single -->
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{ end }}
