<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">

  <head>
    {{ partial "general/head.html" . }}

    {{- block "og" . }}{{- end }}
  </head>

<body id="body" data-spy="scroll" data-target=".navbar" data-offset="55">
  <div id="content">

    {{ partial "general/preloader.html" . }}
    {{ if .IsHome }}
      {{ partial "general/banner.html" . }}
    {{end}}
    {{ partial "general/navigation.html" . }}

    {{- block "main" . }}{{- end }}
  </div>
  {{- partial "general/footer.html" . -}}
  {{- block "scripts" .}}{{- end}}
</body>

</html>
