{{ define "og" }}
  {{ with .CurrentSection }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta name="twitter:title" content="{{ .Title }}">

    <meta property="og:description" content="{{ .Summary }}" />
    <meta name="twitter:description" content="{{ .Summary }}">

    <meta property="og:type" content="article" />
    <meta property="og:locale" content="{{ .Lang }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ .Site.BaseURL }}">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">
  {{ end }}

  {{ range first 3 (.Resources.ByType "image") }}
    {{ $image := . }}
    {{ $image := $image.Resize "x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
    <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{ end }}
  {{ with resources.GetMatch .Site.Params.logo }}
    {{ $image := . }}
    {{ $image := $image.Resize "x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ define "main" }}
{{ with .CurrentSection }}
<section id="{{ .Section }}" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section title -->
        <div class="title text-center wow fadeInDown">
          <h2>{{ with .Title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
              {{ with .Title }} {{ index (split . " ") 1 | safeHTML }} {{ end }}</span></h2>
          <div class="border-capro"></div>
        </div>
      </div>
      <!-- /section title -->
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
        {{ .Render "article" }}
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{ end}}

{{ end }}
