{{ define "og" }}
  {{ with .CurrentSection }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="{{ .Lang }}" />
  {{ end }}

  {{ range first 3 (.Resources.ByType "image") }}
    <meta property="og:image" content="{{ .Permalink }}" />
    <meta property="og:image:width" content="{{ .Width}}" />
    <meta property="og:image:height" content="{{ .Height }}" />
  {{ end }}
  {{ with .Site.Params.logo }}
    <meta property="og:image" content="{{ . | absURL }}" />
  {{ end }}
{{ end }}

{{ define "main" }}
{{ with .CurrentSection }}
<section id="{{ .Section }}" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <!-- section title -->
        <div class="title text-center wow fadeInDown">
          <h2>{{ with .Title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
              {{ with .Title }} {{ index (split . " ") 1 | safeHTML }} {{ end }}</span></h2>
          <div class="border-capro"></div>
        </div>
      </div>
      <!-- /section title -->
      {{ $paginator := .Paginate .Data.Pages }}
      {{ range $paginator.Pages }}
      {{ .Render "article" }}
      {{ end }}
      <div class="col-12">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</section>
{{ end}}

{{ end }}
