{{ define "og" }}
    <meta property="og:title" content="{{ .Title }}" />
    <meta name="twitter:title" content="{{ .Title }}">

    <meta property="og:description" content="{{ .Summary }}" />
    <meta name="twitter:description" content="{{ .Summary }}">

    <meta property="og:type" content="article" />
    <meta property="og:locale" content="{{ .Lang }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ .Site.BaseURL }}">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">

  {{ range first 3 (.Resources.ByType "image") }}
    {{ $image := . }}
    {{ $image := $image.Fit "1024x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
    <meta property="og:image:width" content="{{ $image.Width}}" />
    <meta property="og:image:height" content="{{ $image.Height }}" />
    <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{ end }}
  {{ with resources.GetMatch .Site.Params.logo }}
    {{ $image := . }}
    {{ $image := $image.Fit "1024x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>{{ .Title }}</h1>
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}/">{{ .Params.Author }}</a></li>
          <li class="list-inline-item"><span>{{.Date.Day}} {{i18n .Date.Month}} {{.Date.Year}}</span></li>
        </ul>
            {{ range first 1 (.Resources.ByType "image") }}
              {{ $image :=  . }}
              {{ $image := $image.Fit "200x200" }}
              <img class="img-fluid mb-2 lozad" data-src="{{ $image.RelPermalink }}" alt="featured-image">
            {{ end }}


      </div>
      <div class="col-lg-8 offset-lg-2">
        <div class="post-single-content">
          {{ .Content }}
        </div>
        <!-- comments -->
        <div class="mt-5">
          {{ template "_internal/disqus.html" . }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
