{{/* Site JS: concat → minify → fingerprint */}}
{{ $js := slice
    (resources.Get "js/scroll-reveal.js")
    (resources.Get "js/counter.js")
    | resources.Concat "capro.js"
    | minify
    | fingerprint
}}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>

{{/* Alpine.js */}}
{{ $alpine := resources.Get "js/vendor/alpine.min.js" | fingerprint }}
<script src="{{ $alpine.RelPermalink }}" integrity="{{ $alpine.Data.Integrity }}" defer></script>

{{/* Map: only on pages with contact section */}}
{{ with site.Params.map }}
  {{ $leafletCss := resources.Get "css/vendor/leaflet.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $leafletCss.RelPermalink }}" integrity="{{ $leafletCss.Data.Integrity }}">
  {{ $leafletJs := resources.Get "js/vendor/leaflet.js" | minify | fingerprint }}
  <script src="{{ $leafletJs.RelPermalink }}" integrity="{{ $leafletJs.Data.Integrity }}" defer></script>
  {{ $map := resources.Get "js/map.js" | minify | fingerprint }}
  <script src="{{ $map.RelPermalink }}" integrity="{{ $map.Data.Integrity }}" defer></script>
{{ end }}
