{{ define "og" }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="404 - Not found" />
  {{ with resources.GetMatch .Site.Params.logo }}
    {{ $image := . }}
    {{ $image := $image.Resize "x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
    <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{ end }}
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="{{ .Page.Lang }}" />
{{ end }}

{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>404</h1>
        <h2>Page Not Found</h2>
				<a class="btn btn-main" href="{{ site.BaseURL | relLangURL }}">Back to home</a>
      </div>
    </div>
  </div>
</section>
{{ end }}
