{{ define "og" }}
  <meta property="og:title" content="{{ .Title }}" />
  <meta name="twitter:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Site.Params.description }}" />
  <meta name="twitter:description" content="{{ .Site.Params.description }}">

    <meta property="og:type" content="article" />
    <meta property="og:locale" content="{{ .Lang }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="{{ .Site.BaseURL }}">
    <meta property="twitter:url" content="{{ .Site.BaseURL }}">

  {{ with resources.GetMatch .Site.Params.logo }}
    {{ $image := . }}
    {{ $image := $image.Fit "1024x512" }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
    <meta name="twitter:image" content="{{ $image.Permalink }}">
  {{ end }}
  <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}

{{ define "main" }}
  {{ partial "sections/about.html" . }}
  {{ partial "sections/feature.html" . }}
  {{ partial "sections/service.html" . }}
  {{ partial "sections/cta.html" . }}
  {{ partial "sections/skill.html" . }}
  {{ partial "sections/portfolio.html" . }}
  {{ partial "sections/funfacts.html" . }}
  {{ partial "sections/team.html" . }}
  {{ partial "sections/pricing.html" . }}
  {{ partial "sections/testimonial.html" . }}
  {{ partial "sections/blog.html" . }}
  {{ partial "sections/contact.html" . }}
  {{ partial "sections/map.html" . }}
{{ end }}
